aiohappyeyeballs==2.6.1
aiohttp==3.8.6
aiomysql==0.2.0
aiosignal==1.4.0
async-timeout==4.0.3
attrs==25.3.0
certifi==2025.7.14
charset-normalizer==3.4.2
clickhouse-connect==0.8.18
clickhouse-driver==0.2.9
frozenlist==1.7.0
idna==3.10
lz4==4.4.4
multidict==6.6.3
numpy==2.0.2
pandas==2.3.1
propcache==0.3.2
PyMySQL==1.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
requests==2.32.4
six==1.17.0
typing-extensions==4.14.1
tzdata==2025.2
tzlocal==5.3.1
urllib3==2.5.0
yarl==1.20.1
zope.interface==7.2
zstandard==0.23.0
